.Button{
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    .Button__btn{
        color: #fff;
        background-color: rgb(85, 95, 185);
        border-radius: 25px;
        width: 100%;
        height: 50px;
        text-decoration: none;
        border: none;
        font-weight: 500;
        line-height: 1.2;
        text-transform: uppercase;
        transition: all 0.4s;
        position: relative;
        cursor: pointer;
        font-size: 1em;
        box-shadow: 0 10px 30px 0px rgb(85 95 185 / 50%);
        &:hover{
            background-color: #222;
        }
        &:disabled{
            background-color: #cccccc;
            cursor: not-allowed;    
        }
        
    }
}
